$background_color: #00FFFF;
$rounded-corners: 20px;

@mixin rounded-corners($corner)
{
  -moz-border-radius: $corner;
  -webkit-border-radius: $corner;
  border-radius: $corner;
}

@mixin paddmargin
{
  padding: 10px 0px;
  margin: 0px;
}

form, div, h1, h2, h3, body {
margin: 0;
}



body{
font-family: "verdana";
width: 80%;
margin: 0 auto;
}

header{
    background-color: #b3daff;
    display: block;
}
/* L O G O*/
#logo{

    height: 100px;
    padding:{
        left: 5%;
        top: 25px;
        }
    float: left;
    margin: {
        left: 80px;
    }

    font: {
        size:30px;
        weight: bold;
        family: "verdana";
    }

    span.text{
        display: block;
        font: {
            size: 20px;
            weight: normal;
            }
    } 
}

#search {
    float: right;
    margin-right: 5%;
    padding-top: 30px;
    margin-top: 0;

    form {
        #query {
            //@include rounded-corners("35px");
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
            height: 50px;
            width: 400px;
            background-color: white;
            color: black;
            font-size: 30px;
text-align: center;
padding: 5px;
border: 0;
        }
    }
}
.title {
    clear: both;
    background-color: black;
    color: white;
    display: block;
padding: 10px 10px 10px 30px;
font-weight: bold;
font-size: 20px;
}

.sites {
margin-top: 4px;
float: right;
margin-right: 5%;
font-size: 80%;
font-weight: normal;

a {
    color: white;
    &:hover, &:visited {
    color: white;
    }
}

}

article {
    clear: both;
}

footer {
clear: both;
padding-top: 5px;
    display: block;
    text-align: center;
    border-top: 4px solid black;
}

.offer {
margin: 10px;
padding: 10px;
    a {
    border-top: 1px solid silver;
}
}


.offers{
    td {padding:10px;}
}
