$background_color: #FFF;
$rounded-corners: 20px;
$first_color: black;
$second_color: #b3daff;
$third_color: #44a5ff;

@mixin rounded-corners($corner)
{
  -moz-border-radius: $corner;
  -webkit-border-radius: $corner;
  border-radius: $corner;
}

@mixin paddmargin
{
  padding: 10px 0px;
  margin: 0px;
}

form, div, h1, h2, h3, body, p {
margin: 0;
}



body{
background-color: white;
font-family: "verdana";
width: 80%;
margin: 0 auto;
}

header{
    background-color: #fff;
    display: block;
    border-bottom: 1px solid black;
}
/* L O G O*/
#logo{

    height: 100px;
    padding:{
        left: 5%;
        }
    float: left;
    margin: {
        top: 25px;
        left: 80px;
    }

    font: {
        size:30px;
        weight: bold;
        family: "verdana";
    }

    span.text{
        display: block;
        margin-top: 10px;
        font: {
            size: 20px;
            weight: normal;
            }
    } 
}

#search {
    float: right;
    margin-right: 5%;
    padding-top: 30px;
    margin-top: 0;

    form {
        #query {
            //@include rounded-corners("35px");
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
            height: 50px;
            width: 400px;
            background-color: $second_color;
            color: black;
            font-size: 30px;
text-align: center;
padding: 5px;
border: 0;
        }
    }
}
.title {
    clear: both;

    color: black;
    display: block;
padding: 10px 10px 10px 30px;
font-weight: bold;
font-size: 20px;
}

.sites {
margin-top: 4px;
float: right;
margin-right: 5%;
font-size: 80%;
font-weight: normal;

a {
    text-decoration: none;

    &:hover{
color: $second_color;
background-color: white;
text-decoration: underline;
}
    &:link, &:visited {
background-color: white;
color: $first_color;
    }
}

}

article {
    clear: both;
}

footer {
clear: both;
padding-top: 5px;
    display: block;
    text-align: center;
    border-top: 1px solid black;
}

.offer {
margin: 10px;
padding: 10px;
}

.offer_source {
color: $third_color;
}


.offers{
    td {padding:10px;}
}
